<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="products"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button> 
      <ion-icon name="cart" color="primary"> </ion-icon>
      <ion-badge> badge </ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-title  >
     nome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="ion-padding">
    <ion-card >
          <img src="" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Preço: R$1000,00</ion-card-subtitle>
            <ion-card-title>nome</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div ><p>descricao produto auhdaiuhiuahiuahiuahiuahiuahiuahiuahiuahiuahiuahiuahiuahiua  </p></div>
            <ion-button expand="block" >Add To Cart</ion-button>
          </ion-card-content>
      </ion-card>
  </div>

</ion-content>
